/* GLOBAL RULES */
body {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "top-bar side-top-bar"
    "top-bar company-logo"
    "saved-recipes saved-recipes";
  font-family: "Montserrat", sans-serif;
}

p {
  color: white;
  font-size: 12px;
}

.share-button, .save-recipe-button, .saved-recipe-button, .drop-down-menu {
  background-color: #F23D6D;
  border: none;
  margin: 10px;
}

/* TOP BAR SECTION */
.top-bar {
  background-color: #F23D6D;
  grid-area: top-bar;
  padding: 10px;
  display: flex;
  align-content: flex-end;
}

.button-shares-recipe {
  display: flex;
  align-items: flex-end;
}

/* SIDE TOP BAR SECTION */
.side-top-bar {
  background-color: #F23D6D;
  grid-area: side-top-bar;
  height: 40px;
}

.username-and-company-name {
  background-color: #F23D6D;
  display: flex;
  justify-content: flex-end;
}

.img-username {
  padding: 10px;
}

/* COMPANY LOGO SECTION */
.company-logo {
  background-color: #F23D6D;
  grid-area: company-logo;
  display: flex;
  margin-top: -60px;
  justify-content: center;
  padding: 10px;
}

/* SAVED RECIPES SECTION */
.saved-recipes {
  background-color: #CEECF2;
  grid-area: saved-recipes;
}
