body {
  display: grid;
  grid-template-rows: 1fr 2fr 400px auto;
  grid-template-areas:
    "top-bar top-bar"
    "share-articles share-articles";
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  background-color: #F23D6D;
  grid-area: top-bar;
  display: grid;
  padding: 10px;
}

.button-shares-recipe {
  display: flex;
  align-items: flex-end;
}

.share-button, .book-button, .saved-recipe-button {
  background-color: #F23D6D;
  border: none;
  margin: 10px;
}

p {
  color: white;
  font-size: 12px;
}

.share-articles {
  background-color: #CEECF2;
  grid-area: share-articles;
}
